.wi_time_1:before {content: $time-1;}
.wi_time_2:before {content: $time-2;}
.wi_time_3:before {content: $time-3;}
.wi_time_4:before {content: $time-4;}
.wi_time_5:before {content: $time-5;}
.wi_time_6:before {content: $time-6;}
.wi_time_7:before {content: $time-7;}
.wi_time_8:before {content: $time-8;}
.wi_time_9:before {content: $time-9;}
.wi_time_10:before {content: $time-10;}
.wi_time_11:before {content: $time-11;}
.wi_time_12:before {content: $time-12;}