.wi_cloud:before {content: $cloud;}
.wi_cloudy:before {content: $cloudy;}
.wi_cloudy_gusts:before {content: $cloudy-gusts;}
.wi_cloudy_windy:before {content: $cloudy-windy;}
.wi_fog:before {content: $fog;}
.wi_hail:before {content: $hail;}
.wi_rain:before {content: $rain;}
.wi_rain_mix:before {content: $rain-mix;}
.wi_rain_wind:before {content: $rain-wind;}
.wi_showers:before {content: $showers;}
.wi_sleet:before {content: $sleet;}
.wi_snow:before {content: $snow;}
.wi_sprinkle:before {content: $sprinkle;}
.wi_storm_showers:before {content: $storm-showers;}
.wi_thunderstorm:before {content: $thunderstorm;}
.wi_snow_wind:before {content: $snow-wind;}
.wi_snow:before {content: $snow;}
.wi_smog:before {content: $smog;}
.wi_smoke:before {content: $smoke;}
.wi_lightning:before {content: $lightning;}
.wi_raindrops:before {content: $raindrops;}
.wi_raindrop:before {content: $raindrop;}
.wi_dust:before {content: $dust;}
.wi_snowflake-cold:before {content: $snowflake-cold;}
.wi_windy:before {content: $windy;}
.wi_strong-wind:before {content: $strong-wind;}
.wi_sandstorm:before {content: $sandstorm;}
.wi_earthquake:before {content: $earthquake;}
.wi_fire:before {content: $fire;}
.wi_flood:before {content: $flood;}
.wi_meteor:before {content: $meteor;}
.wi_tsunami:before {content: $tsunami;}
.wi_volcano:before {content: $volcano;}
.wi_hurricane:before {content: $hurricane;}
.wi_tornado:before {content: $tornado;}
.wi_small_craft_advisory:before {content: $small-craft-advisory;}
.wi_gale_warning:before {content: $gale-warning;}
.wi_storm_warning:before {content: $storm-warning;}
.wi_hurricane_warning:before {content: $hurricane-warning;}
.wi_wind_direction:before {content: $wind-direction;}