.wi_wind_beaufort_0:before {content: $wind-beaufort-0;}
.wi_wind_beaufort_1:before {content: $wind-beaufort-1;}
.wi_wind_beaufort_2:before {content: $wind-beaufort-2;}
.wi_wind_beaufort_3:before {content: $wind-beaufort-3;}
.wi_wind_beaufort_4:before {content: $wind-beaufort-4;}
.wi_wind_beaufort_5:before {content: $wind-beaufort-5;}
.wi_wind_beaufort_6:before {content: $wind-beaufort-6;}
.wi_wind_beaufort_7:before {content: $wind-beaufort-7;}
.wi_wind_beaufort_8:before {content: $wind-beaufort-8;}
.wi_wind_beaufort_9:before {content: $wind-beaufort-9;}
.wi_wind_beaufort_10:before {content: $wind-beaufort-10;}
.wi_wind_beaufort_11:before {content: $wind-beaufort-11;}
.wi_wind_beaufort_12:before {content: $wind-beaufort-12;}