.wi_moon_0:before {content: $moon-new;}
.wi_moon_1:before {content: $moon-waxing-crescent-1;}
.wi_moon_2:before {content: $moon-waxing-crescent-2;}
.wi_moon_3:before {content: $moon-waxing-crescent-3;}
.wi_moon_4:before {content: $moon-waxing-crescent-4;}
.wi_moon_5:before {content: $moon-waxing-crescent-5;}
.wi_moon_6:before {content: $moon-waxing-crescent-6;}
.wi_moon_7:before {content: $moon-first-quarter;}
.wi_moon_8:before {content: $moon-waxing-gibbous-1;}
.wi_moon_9:before {content: $moon-waxing-gibbous-2;}
.wi_moon_10:before {content: $moon-waxing-gibbous-3;}
.wi_moon_11:before {content: $moon-waxing-gibbous-4;}
.wi_moon_12:before {content: $moon-waxing-gibbous-5;}
.wi_moon_13:before {content: $moon-waxing-gibbous-6;}
.wi_moon_14:before {content: $moon-full;}
.wi_moon_15:before {content: $moon-waning-gibbous-1;}
.wi_moon_16:before {content: $moon-waning-gibbous-2;}
.wi_moon_17:before {content: $moon-waning-gibbous-3;}
.wi_moon_18:before {content: $moon-waning-gibbous-4;}
.wi_moon_19:before {content: $moon-waning-gibbous-5;}
.wi_moon_20:before {content: $moon-waning-gibbous-6;}
.wi_moon_21:before {content: $moon-third-quarter;}
.wi_moon_22:before {content: $moon-waning-crescent-1;}
.wi_moon_23:before {content: $moon-waning-crescent-2;}
.wi_moon_24:before {content: $moon-waning-crescent-3;}
.wi_moon_25:before {content: $moon-waning-crescent-4;}
.wi_moon_26:before {content: $moon-waning-crescent-5;}
.wi_moon_27:before {content: $moon-waning-crescent-6;}