.wi_direction_up:before {content: $direction-up;}
.wi_direction_up_right:before {content: $direction-up-right;}
.wi_direction_right:before {content: $direction-right;}
.wi_direction_down_right:before {content: $direction-down-right;}
.wi_direction_down:before {content: $direction-down;}
.wi_direction_down_left:before {content: $direction-down-left;}
.wi_direction_left:before {content: $direction-left;}
.wi_direction_up_left:before {content: $direction-up-left;}