.wi_alien:before {content: $alien;}
.wi_celsius:before {content: $celsius;}
.wi_fahrenheit:before {content: $fahrenheit;}
.wi_degrees:before {content: $degrees;}
.wi_thermometer:before {content: $thermometer;}
.wi_thermometer_exterior:before {content: $thermometer-exterior;}
.wi_thermometer_internal:before {content: $thermometer-internal;}
.wi_cloud_down:before {content: $cloud-down;}
.wi_cloud_up:before {content: $cloud-up;}
.wi_cloud_refresh:before {content: $cloud-refresh;}
.wi_horizon:before {content: $horizon;}
.wi_horizon_alt:before {content: $horizon-alt;}
.wi_sunrise:before {content: $sunrise;}
.wi_sunset:before {content: $sunset;}
.wi_moonrise:before {content: $moonrise;}
.wi_moonset:before {content: $moonset;}
.wi_refresh:before {content: $refresh;}
.wi_refresh_alt:before {content: $refresh-alt;}
.wi_umbrella:before {content: $umbrella;}
.wi_barometer:before {content: $barometer;}
.wi_humidity:before {content: $humidity;}
.wi_na:before {content: $na;}
.wi_train:before {content: $train;}