.wi_moon_new:before {content: $moon-new;}
.wi_moon_waxing_crescent_1:before {content: $moon-waxing-crescent-1;}
.wi_moon_waxing_crescent_2:before {content: $moon-waxing-crescent-2;}
.wi_moon_waxing_crescent_3:before {content: $moon-waxing-crescent-3;}
.wi_moon_waxing_crescent_4:before {content: $moon-waxing-crescent-4;}
.wi_moon_waxing_crescent_5:before {content: $moon-waxing-crescent-5;}
.wi_moon_waxing_crescent_6:before {content: $moon-waxing-crescent-6;}
.wi_moon_first_quarter:before {content: $moon-first-quarter;}
.wi_moon_waxing_gibbous_1:before {content: $moon-waxing-gibbous-1;}
.wi_moon_waxing_gibbous_2:before {content: $moon-waxing-gibbous-2;}
.wi_moon_waxing_gibbous_3:before {content: $moon-waxing-gibbous-3;}
.wi_moon_waxing_gibbous_4:before {content: $moon-waxing-gibbous-4;}
.wi_moon_waxing_gibbous_5:before {content: $moon-waxing-gibbous-5;}
.wi_moon_waxing_gibbous_6:before {content: $moon-waxing-gibbous-6;}
.wi_moon_full:before {content: $moon-full;}
.wi_moon_waxing_gibbous_1:before {content: $moon-waning-gibbous-1;}
.wi_moon_waxing_gibbous_2:before {content: $moon-waning-gibbous-2;}
.wi_moon_waxing_gibbous_3:before {content: $moon-waning-gibbous-3;}
.wi_moon_waxing_gibbous_4:before {content: $moon-waning-gibbous-4;}
.wi_moon_waxing_gibbous_5:before {content: $moon-waning-gibbous-5;}
.wi_moon_waxing_gibbous_6:before {content: $moon-waning-gibbous-6;}
.wi_moon_third_quarter:before {content: $moon-third-quarter;}
.wi_moon_waning_crescent_1:before {content: $moon-waning-crescent-1;}
.wi_moon_waning_crescent_2:before {content: $moon-waning-crescent-2;}
.wi_moon_waning_crescent_3:before {content: $moon-waning-crescent-3;}
.wi_moon_waning_crescent_4:before {content: $moon-waning-crescent-4;}
.wi_moon_waning_crescent_5:before {content: $moon-waning-crescent-5;}
.wi_moon_waning_crescent_6:before {content: $moon-waning-crescent-6;}
.wi_moon_alt_new:before {content: $moon-alt-new;}
.wi_moon_alt_waxing_crescent_1:before {content: $moon-alt-waxing-crescent-1;}
.wi_moon_alt_waxing_crescent_2:before {content: $moon-alt-waxing-crescent-2;}
.wi_moon_alt_waxing_crescent_3:before {content: $moon-alt-waxing-crescent-3;}
.wi_moon_alt_waxing_crescent_4:before {content: $moon-alt-waxing-crescent-4;}
.wi_moon_alt_waxing_crescent_5:before {content: $moon-alt-waxing-crescent-5;}
.wi_moon_alt_waxing_crescent_6:before {content: $moon-alt-waxing-crescent-6;}
.wi_moon_alt_first_quarter:before {content: $moon-alt-first-quarter;}
.wi_moon_alt_waxing_gibbous_1:before {content: $moon-alt-waxing-gibbous-1;}
.wi_moon_alt_waxing_gibbous_2:before {content: $moon-alt-waxing-gibbous-2;}
.wi_moon_alt_waxing_gibbous_3:before {content: $moon-alt-waxing-gibbous-3;}
.wi_moon_alt_waxing_gibbous_4:before {content: $moon-alt-waxing-gibbous-4;}
.wi_moon_alt_waxing_gibbous_5:before {content: $moon-alt-waxing-gibbous-5;}
.wi_moon_alt_waxing_gibbous_6:before {content: $moon-alt-waxing-gibbous-6;}
.wi_moon_alt_full:before {content: $moon-alt-full;}
.wi_moon_alt_waning_gibbous_1:before {content: $moon-alt-waning-gibbous-1;}
.wi_moon_alt_waning_gibbous_2:before {content: $moon-alt-waning-gibbous-2;}
.wi_moon_alt_waning_gibbous_3:before {content: $moon-alt-waning-gibbous-3;}
.wi_moon_alt_waning_gibbous_4:before {content: $moon-alt-waning-gibbous-4;}
.wi_moon_alt_waning_gibbous_5:before {content: $moon-alt-waning-gibbous-5;}
.wi_moon_alt_waning_gibbous_6:before {content: $moon-alt-waning-gibbous-6;}
.wi_moon_alt_third_quarter:before {content: $moon-alt-third-quarter;}
.wi_moon_alt_waning_crescent_1:before {content: $moon-alt-waning-crescent-1;}
.wi_moon_alt_waning_crescent_2:before {content: $moon-alt-waning-crescent-2;}
.wi_moon_alt_waning_crescent_3:before {content: $moon-alt-waning-crescent-3;}
.wi_moon_alt_waning_crescent_4:before {content: $moon-alt-waning-crescent-4;}
.wi_moon_alt_waning_crescent_5:before {content: $moon-alt-waning-crescent-5;}
.wi_moon_alt_waning_crescent_6:before {content: $moon-alt-waning-crescent-6;}