.wi_night_clear:before {content: $night-clear;}
.wi_night_alt_cloudy:before {content: $night-alt-cloudy;}
.wi_night_alt-cloudy_gusts:before {content: $night-alt-cloudy-gusts;}
.wi_night_alt_cloudy_windy:before {content: $night-alt-cloudy-windy;}
.wi_night_alt_hail:before {content: $night-alt-hail;}
.wi_night_alt_lightning:before {content: $night-alt-lightning;}
.wi_night_alt_rain:before {content: $night-alt-rain;}
.wi_night_alt_rain_mix:before {content: $night-alt-rain-mix;}
.wi_night_alt_rain_wind:before {content: $night-alt-rain-wind;}
.wi_night_alt_showers:before {content: $night-alt-showers;}
.wi_night_alt_sleet:before {content: $night-alt-sleet;}
.wi_night_alt_sleet_storm:before {content: $night-alt-sleet-storm;}
.wi_night_alt_snow:before {content: $night-alt-snow;}
.wi_night_alt_snow_thunderstorm:before {content: $night-alt-snow-thunderstorm;}
.wi_night_alt_snow_wind:before {content: $night-alt-snow-wind;}
.wi_night_alt_sprinkle:before {content: $night-alt-sprinkle;}
.wi_night_alt_storm_showers:before {content: $night-alt-storm-showers;}
.wi_night_alt_thunderstorm:before {content: $night-alt-thunderstorm;}
.wi_night_cloudy:before {content: $night-cloudy;}
.wi_night_cloudy_gusts:before {content: $night-cloudy-gusts;}
.wi_night_cloudy_windy:before {content: $night-cloudy-windy;}
.wi_night_fog:before {content: $night-fog;}
.wi_night_hail:before {content: $night-hail;}
.wi_night_lightning:before {content: $night-lightning;}
.wi_night_partly_cloudy:before {content: $night-partly-cloudy;}
.wi_night_rain:before {content: $night-rain;}
.wi_night_rain_mix:before {content: $night-rain-mix;}
.wi_night_rain_wind:before {content: $night-rain-wind;}
.wi_night_showers:before {content: $night-showers;}
.wi_night_sleet:before {content: $night-sleet;}
.wi_night_sleet_storm:before {content: $night-sleet-storm;}
.wi_night_snow:before {content: $night-snow;}
.wi_night_snow_thunderstorm:before {content: $night-snow-thunderstorm;}
.wi_night_snow_wind:before {content: $night-snow-wind;}
.wi_night_sprinkle:before {content: $night-sprinkle;}
.wi_night_storm_showers:before {content: $night-storm-showers;}
.wi_night_thunderstorm:before {content: $night-thunderstorm;}
.wi_lunar_eclipse:before {content: $lunar-eclipse;}
.wi_stars:before {content: $stars;}
.wi_storm_showers:before {content: $storm-showers;}
.wi_thunderstorm:before {content: $thunderstorm;}
.wi_night_alt_cloudy_high:before {content: $night-alt-cloudy-high;}
.wi_night_cloudy_high:before {content: $night-cloudy-high;}
.wi_night_alt_partly_cloudy:before {content: $night-alt-partly-cloudy;}